$font-size-base: 16px !default;
$font-size-large: ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small: ceil(($font-size-base * 0.85)) !default; // ~12px
$border-size-base: 2px;
$text-color: #333;
$screens: 'xl',
'sm',
'lg';
$naruto: (width: 1600, height: 699);
$naruto-small: (width: 500, height: 281);
$chrome-frame: (width: 1080, height: 623);
$nexus-frame: (width: 416, height: 720);
@mixin hide-screen($hide, $screens) {
    @each $m-screen in $screens {
        .hidden-#{$m-screen} {
            @if $m-screen==$hide {
                display: none;
            }
            @else {
                display: block;
            }
        }
        .hidden-#{$m-screen}-flex {
            @if $m-screen==$hide {
                display: none;
            }
            @else {
                display: flex;
            }
        }
    }
}

@mixin show-screen($show, $screens) {
    @each $m-screen in $screens {
        .show-#{$m-screen} {
            @if $m-screen==$show {
                display: block;
            }
            @else {
                display: none;
            }
        }
        .show-#{$m-screen}-flex {
            @if $m-screen==$show {
                display: flex;
            }
            @else {
                display: none;
            }
        }
    }
}

@mixin aspect-ratio($width, $height) {
    position: relative;
    width: 100%;
    &:before {
        display: block;
        content: " ";
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1 {
    font-size: 2.3em;
}

h2 {
    font-size: 1.9em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.2em;
}

h5 {
    font-size: 1em;
}

h6 {
    font-size: 0.8em;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

html {
    font-family: "Avenir Next", Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
    font-size: $font-size-small;
}

a {
    text-decoration: none;
}

@include hide-screen('xl', $screens);
@include show-screen('xl', $screens);
.no-features {
    display: none;
    .outer {
        padding: 20%;
    }
    p {
        border: 5px solid #007cab;
        border-radius: 8px;
        background: lighten(#007cab, 50%);
        display: block;
        padding: 15px 30px;
        margin: 40px 0;
        .type {
            font-weight: 800;
            color: #d32f2f;
        }
    }
    img {
        width: 100px;
        display: block;
        border: 5px solid #007cab;
        border-radius: 50%;
        margin: 15px auto;
    }
}

.no-js,
.no-csstransitions,
.no-csstransforms3d,
.no-flexbox {
    .no-features {
        display: block
    }
    .wrapper {
        display: none;
    }
}

.navbar {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 1000;
    font-size: 0.75rem; //This size defines the module font size
    color: #f2f2f2;
    background-color: #323232;
    padding: 8px 15px;
    width: 100%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
    .logo {
        display: inline-block;
        flex: 1 1 100%;
        text-align: center;
        font-size: 1.5em;
        height: 50px;
        margin: 0 15px 15px 15px;
        img {
            position: relative;
            height: 100%;
        }
        .name {
            display: inline-block;
            transform: translate(0, -5px);
            margin-left: 3px;
        }
    }
    ul,
    .nav {
        display: flex;
        flex: 1 1 100%;
        margin: 0;
        padding: 0;
        justify-content: center;
        align-content: center;
        li.nav-items {
            box-sizing: none;
            display: flex;
            align-content: center;
            justify-content: center;
            list-style: none;
            +.nav-items {
                margin-left: 15px;
            }
            .nav-link,
            a {
                color: #f2f2f2;
                padding: 8px 15px;
                text-transform: uppercase;
                font-weight: 700;
                background-color: transparent;
                border: $border-size-base solid rgba(0, 0, 0, 0);
                border-radius: 5px;
                transition: all 0.3s ease-in;
                &:hover,
                &:focus,
                &.active {
                    border: $border-size-base solid #f3dc5a;
                    box-shadow: inset 0 0 8px transparentize(#f2f2f2, 0.6);
                    color: #f3dc5a;
                }
            }
        }
    }
}

.intro {
    z-index: 1;
    @include aspect-ratio(map-get($naruto-small, width), map-get($naruto-small, height));
    .back-img {
        position: absolute;
        background-color: #ec7c10;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        img {
            width: 100%;
        }
    }
    .front {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        justify-content: center;
        align-content: center;
        align-items: center;
        z-index: 1;
        width: 100%;
        height: 100%;
        font-size: 1.2rem;
        color: #f2f2f2;
        .about-desc {
            flex: 2;
            text-align: center;
            background: linear-gradient(to left, rgba(0, 0, 0, 0.68) 0%, rgba(0, 0, 0, 0) 100%);
            padding: 15px;
            h2,
            .h2 {
                font-size: 1.2em;
                margin: 0;
            }
            p,
            details {
                font-size: 0.65em;
                margin: 0;
            }
        }
        .profile-img {
            flex: 1;
            text-align: center;
            margin: 0 15px;
            img {
                width: 100px;
                height: 100px;
                border: 5px ridge #f2f2f2;
                border-radius: 50%;
            }
        }
    }
}

.main-title {
    position: relative;
    text-align: center;
    padding: 15px;
    h1 {
        text-transform: uppercase;
        margin: 15px 0 0 0;
    }
}

#projects {
    background-color: #fff;
    color: $text-color;
    
    #web-projects {
        padding: 0 15px 15px 15px;
        .inner {
            text-align: center;
        }
        .chrome-frame {
            display: block;
            max-width: (map-get($chrome-frame, width)/1.5) * 1px;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            @include aspect-ratio(map-get($chrome-frame, width), map-get($chrome-frame, height));
            .relative-img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                text-align: center;
                img {
                    width: 100%;
                    max-width: (map-get($chrome-frame, width)/1.5) * 1px;
                }
            }
            .abs-img {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                .project-images {
                    position: absolute;
                    top: 8.828250%;
                    left: 0;
                    width: 100%;
                    height: 91.172%;
                    overflow: hidden;
                    .img-wrapper {
                        position: relative;
                        width: 200%;
                        height: 100%;
                        transform: translate3d(0, 0, 0);
                    }
                    .project-img {
                        position: relative;
                        display: block;
                        float: left;
                        width: 50%;
                        img {
                            width: 100%;
                            max-width: 720px;

                        }
                    }
                }
                .uri-panel {
                    position: absolute;
                    top: 5.055409%;
                    left: 8.848148%;
                    a.uri {
                    	opacity: 0;
                        transition: opacity 0.3s ease-out;
									    	position: absolute;
									    	top: 0;
									    	left: 0;
								        &.active {
								        	position: relative;
								        	top:0;
								        	left:0;
								        	z-index: 1;
								          display: block;
								          opacity: 1;
								        }
                        .domain {
                            color: #333;
                        }
                        .path {
                            color: #888;
                        }
                    }
                }
                .project-title {
                    position: absolute;
                    top: 1.926163%;
                    left: 7.5%;
                    padding: 0.181027% 0 0 0.46296%;
                    .uri:not(:first-child) {
                        display: none;
                    }
                    a.uri {
                    	opacity: 0;
                        transition: opacity 0.3s ease-out;
									    	position: absolute;
									    	top: 0;
									    	left: 0;
								        &.active {
								        	position: relative;
								        	top:0;
								        	left:0;
								        	z-index: 1;
								          display: block;
								          opacity: 1;
								        }
                        color: black;
                    }
                }
            }
            .btn {
                display: none;
                cursor: pointer;
                position: absolute;
                top: 8.828250%;
                ;
                width: 50px;
                height: 91.172%;
                img {
                    position: relative;
                    width: 100%;
                    top: 50%;
                    transform: translate(0, -50%);
                }
            }
            .left-btn {
                left: 0;
                background: linear-gradient(to right, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
                &:hover {
                    background: linear-gradient(to right, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
                }
            }
            .right-btn {
                right: 0;
                background: linear-gradient(to left, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
                &:hover {
                    background: linear-gradient(to left, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
                }
            }
        }
    }
    #android-projects {
        margin-top: 15px;
        padding: 0 15px 15px 15px;
        .inner {
            text-align: center;
        }
        .frame {
            display: block;
            @include aspect-ratio(map-get($nexus-frame, width), map-get($nexus-frame, height));
            max-width: map-get($nexus-frame, width) * 1px;
            .relative-img {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
                width: 100%;
                text-align: center;
                pointer-events: none;
                img {
                    position: relative;
                    z-index: 0;
                    width: 100%;
                    max-width: map-get($nexus-frame, width) * 1px;
                }
            }
            .abs-img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
                .project-images {
                    position: absolute;
                    z-index: 1;
                    top: 16.81%;
                    left: 17.788461%;
                    width: 64.423077%;
                    height: 66.25%;
                    overflow: hidden;
                    img {
                        width: 100%;
                        max-width: 268px;
                    }
                }
            }
            .abs-btns {
                position: absolute;
                z-index: 3;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                pointer-events: none;
                .btn {
                    position: absolute;
                    top: 78.43%;
                    width: 17.788461%;
                    height: 2.36%;
                    padding: 1.5% 0;
                    cursor: pointer;
                    pointer-events: visible;
                    img {
                        height: 100%;
                    }
                }
                .left-btn {
                    left: 23.076923%;
                }
                .mid-btn {
                    left: 40.865384%;
                }
                .right-btn {
                    left: 58.653846%;
                }
            }
        }
    }
}

#web-projects {
    $count: 2;
    .animate {
        transition: all 0.3s ease-out;
    }
    .inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        .frame {
            flex: 1 1 720px;
        }
    }
    .project-details {
        max-width: 720px;
    }
}

#android-projects {
    $count: 3;
    .inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        .frame {
            flex: 1 1 100%;
        }
        .project-details {
            flex: 1 1 100%;
            padding: 0;
        }
    }
    .frame {
        align-self: center;
    }
    .animate {
        transition: all 0.3s ease-out;
    }
    .project-img {
        position: absolute;
        top: 0;
        opacity: 0;
        transform: scale3d(0.3, 0.3, 1);
        @for $i from 1 through $count {
            &[data-count="#{$i}"] {
                z-index: $count - $i;
            }
        }
    }
    .active-project {
        display: block;
        opacity: 1;
        transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
    }
    .exit {
        opacity: 0;
        transform: scale3d(1, 1, 1) translate3d(-100%, 0, 0);
    }
}

.project-details {
	position: relative;
    font-size: 1rem;
    margin-top: 15px;
    width: 100%;
    flex: 1 1 50%;
    align-self: center;
    a {
        color: #c5371b;
        &:hover,
        &:focus,
        &:active {
            color: #333;
        }
    }
    .project {
    	opacity: 0;
    	width: 100%;
    	transition: opacity 0.3s ease-out;
    	position: absolute;
    	top: 0;
    	left: 0;
        &.active {
        	position: relative;
        	top:0;
        	left:0;
        	z-index: 1;
          display: block;
          opacity: 1;
        }
        .title {
          text-align: center;
          display: block;
				  margin-left: auto;
				  margin-right: auto;
        }
        .desc {
            text-align: justify;
            color: $text-color;
            font-size: 0.9em;
        }
        .skill-name{
        	font-size: 0.9em;
        	line-height: 2.5;
        	font-weight: 700;
        	color: #1565C0;
        	padding: 4px 10px 8px 10px;
    			background-color: #E3F2FD;
    			border-radius: 3px;
    			+ .skill-name{
    				margin-left: 15px; 
    			}

    			& a{
    				&:hover, &:focus, &:active{
    					color: #1565C0;
    				}
    			}
        }
    }
}

$face-size: 250px;
$face-translate: $face-size/2;
$face-color: rgb(243,220,90);

#about{
	background: #d5c7aa url('https://www.dropbox.com/s/7oj9fv3rwfo1rys/about.jpg?raw=1');
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	z-index: 10;
}
.about-me{
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;

	.quotes{
		background-color: rgba(255,255,255,0.4);
		border-left: 10px solid #64B5F6;
		border-radius: 5px;
		padding: 15px 20px;
		margin: 0 15px 20px 15px;
		p{
			margin: 0;
		}
		.quote{
			font-size: 1rem;
			.fa{
				position: relative;
		    font-size: 0.5em;
		    top: -1em;
			}
		}
		.author{
			font-style: italic;
			float: right;
	    margin-top: 10px;
	    color: #999;
	    font-weight: 800;
			&:before{
				content: "- ";
			}
		}
	}
}

.social-links{
	font-size: 1.2rem;
	margin-bottom: 15px;
	text-align: center;
	span{
		margin: 18px;
		&+span{
			margin-left: 9px;
		}
	}
	a{
		position: relative;
		border-radius: 50%;
		color: #333;
		background-color: rgba(255,255,255,0.8);
		transition: all 0.3s ease-out;
		&:hover, &:focus, &:active{
			color: #f2f2f2;
			background-color: rgba(0,0,0,0.8);
		}
	}
}

.joker-box {
	$face: (front: rotate3d(0, 0, 0, 0deg) translate3d(0, 0, $face-translate), 
					top: rotate3d(1, 0, 0, 90deg) translate3d(0, 0, $face-translate),
					back: rotate3d(1, 0, 0, 180deg) translate3d(0, 0, $face-translate),
					bottom: rotate3d(1, 0, 0, -90deg) translate3d(0, 0, $face-translate),
					left: rotate3d(0, 1, 0, -90deg) translate3d(0, 0, $face-translate),
					right: rotate3d(0, 1, 0, 90deg) translate3d(0, 0, $face-translate));
	position: relative;
	width: $face-size;
	height: $face-size;
	margin: 15px 0 $face-size/2.5 0;
	perspective: 1000px;
	font-size: 12px;
	transform: scale3d(0.8,0.8,1);
	.sides {
		position: relative;
		width: 100%;
		height: 100%;
		transform-style: preserve-3d;
		transform: translate3d(0,0,-$face-translate) rotate3d(-.5,1,-.1,30deg);
		color: #fff;
		font-size: 1.2em;
		&:before{
			position: absolute;
			content: "";
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			border-radius: 40px 40px 0 0;
			background-color: rgba(0,0,0,0.4);
			box-shadow: 0 -4px 60px rgba(0,0,0,0.8);
			transform: rotate3d(1,0,0,90deg) translate3d(0,-$face-translate,-$face-translate) scale3d(1,2,1) ;
		}
		figure {
			position: absolute;
			box-sizing: border-box;
			margin: 0;
			width: $face-size;
			height: $face-size;
			display: block;
			border: 2px solid black;
			// backface-visibility: hidden;
			text-align: center;
			color: #333;
			.title{
				margin-top: 10px;
			}
			p{
				margin: 0;
				padding: 15px;
				text-align: justify;
			}
		}
		$f-colors: $face-color,
			rgba(0,0,0,0.3),
			darken($face-color, 30%),
			darken($face-color, 30%),
			darken($face-color, 20%),
			darken($face-color, 20%);
		$i: 1;
		@each $id,$transform in $face {
			figure##{$id} {
				background-color: nth($f-colors, $i);
				transform: $transform;
			}
			$i: $i + 1;
		}
		
		#lid{
			background-color: darken($face-color, 20%);
			transform-origin: 0 0;
			transform: translate3d(0,0,-$face-translate) rotate3d(1,0,0, 90deg); 
		}
	}
}
.bounceIn{
	animation: 1s bounceIn;
	animation-fill-mode:forwards;
}

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
		background-color: darken($face-color, 20%);
    transform: translate3d(0,0,-$face-translate) rotate3d(1,0,0, 90deg);
  }

  20% {
		background-color: $face-color;
    transform: translate3d(0,0,-$face-translate) rotate3d(1,0,0, 145deg);
  }

  40% {
		background-color: darken($face-color, 10%);
    transform: translate3d(0,0,-$face-translate) rotate3d(1,0,0, 130deg);
  }

  60% {
		background-color: $face-color;
    transform: translate3d(0,0,-$face-translate) rotate3d(1,0,0, 140deg);
  }

  80% {
		background-color: darken($face-color, 8%);
    transform: translate3d(0,0,-$face-translate) rotate3d(1,0,0, 135deg);
  }

  to {
		background-color: $face-color;
    transform: translate3d(0,0,-$face-translate) rotate3d(1,0,0, 138deg);
  }
}

footer{
	background-color: #333;
	padding: 15px;
	color: #f2f2f2;
	.nav-links{
		text-align: center;
		display: flex;
		justify-content: center;
		align-content: center;
		align-items: center;
		
		a{
			display: block;
			text-decoration: none;
			list-style: none;
			color: #f2f2f2;
			padding: 15px 30px;
			text-transform: uppercase;
		}
	}

	.copyright{
		font-size: 0.8em;
		text-align: center;
		margin-top: 30px
	}
}
// This media query is only for image responsiveness
@media (min-width: 500px) {
    .intro {
        margin: 0 auto;
        .front {
            font-size: 1.5rem;
            .profile-img {
                img {
                    width: 180px;
                    height: 180px;
                }
            }
        }
    }
    #android-projects {
        .inner {
            flex-direction: row;
            max-width: (map-get($chrome-frame, width)/1.5) * 1px;
            margin: 0 auto;
        }
        .frame {
            align-self: center;
            order: 2;
        }
        .project-details {
            order: 1;
        }
    }
    .joker-box{
    	transform: scale3d(1,1,1);
    	margin: 15px $face-size/2.5 $face-size/2.5 $face-size/2.5;
    }
}

@media (min-width: 768px) {
    html {
        font-size: $font-size-base;
    }
    @include hide-screen('sm', $screens);
    @include show-screen('sm', $screens);
    .navbar {
        justify-content: flex-start;
        font-size: 1rem;
        .logo {
            margin: 0 40px 0 15px;
            flex: none;
            .name {
                display: none;
            }
        }
        .nav {
            flex: none;
        }
    }
    .intro {
        @include aspect-ratio(map-get($naruto, width), map-get($naruto, height));
        .front {
            font-size: 1.8rem;
            .profile-img {
                img {
                    width: 200px;
                    height: 200px;
                }
            }
            .about-desc {
                h2,
                .h2 {}
            }
        }
    }
    #projects {
        #web-projects {
            .chrome-frame {
                .btn {
                    display: block;
                }
            }
        }
    }
    #android-projects {
        .inner {
            margin: 15px auto;
        }
    }
    .project-details {
        font-size: 1.2em;
    }
}

@media (min-width: 1080px) {
    @include hide-screen('lg', $screens);
    @include show-screen('lg', $screens);
    .intro {
        .front {
            font-size: 2.3rem;
            .profile-img {
                img {
                    width: 280px;
                    height: 280px;
                }
            }
            .about-desc {
                h2,
                .h2 {}
            }
        }
    }
    #projects {
        padding: 30px;
    }
    #web-projects {
        .inner {
            flex-direction: row;
            margin-top: 15px;
        }
        .chrome-frame {
            align-self: center;
        }
        .project-details {
            max-width: 100%;
        }
    }
    #android-projects {
        .inner {
            max-width: 100%;
            justify-content: space-between;
        }
    }
    .project-details {
        padding: 25px;
        font-size: 1.4em;
        .project{
        	padding: 25px;
        	.desc {
	            text-align: center;
	        }
        }
    }
}
