{
  "presets": ["next/babel"],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "@components": "./components",
        "@constants": "./constants",
        "@hoc": "./hoc",
        "@hooks": "./hooks",
        "@ui": "./ui",
        "@pages": "./pages",
        "@utils": "./utils"
      }
    }]
  ],
  "env": {
    "test": {
      "presets": [["next/babel", { "preset-env": { "modules": "commonjs" } }]]
    }
  }
}
