# Node Specific Files/Folders
node_modules/

# Build Specific
out/
**/*.css

# Specific Config Files...
# Problem: Need to create two property files, as one of them will contain secret keys and stuff...
# BTW best way would be to get them from DB...
settings.properties

# Sublime
*.sublime*

# Old Code
old/

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

