doctype html
html.no-js
	head
		meta(charset="UTF-8")
		title Portfolio Page
		meta(name="viewport", content="width=device-width, initial-scale=1")
		script(src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js")
		link(href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css", rel="stylesheet")
		link(rel="stylesheet", href="css/normalize.css")
		link(rel="stylesheet", href="css/style.css")
	body
		.no-features
			.outer
				img(src="//www.dropbox.com/s/44aou5gyi5l2w47/face.jpg?raw=1", alt="Subroto's Face")
				p 
					|You Have No Support for&nbsp;
					span.type Javascript
					|. Kindly Upgrade your Browser to view the Website
					
		.wrapper
			nav.navbar
				a.logo
					img(src="//www.dropbox.com/s/1hgqwoqf010bft4/logo-small.png?raw=1", alt="logo")
					span.name UBROTO
				ul.nav
					for item, i in ["home", "projects", "about"]
						li.nav-items
							if i==0
								a(href="#"+item, class="nav-link active")=item
							else
								a.nav-link(href="#"+item)=item

			section.intro#home
				.back-img
					img.show-xl(src="//www.dropbox.com/s/2muki1m326q5tes/back-small.jpg?raw=1")
					img.hidden-xl(src="//www.dropbox.com/s/x9mb9cu18185fx2/back.jpg?raw=1")
				.front
					.profile-img
						img(src="//www.dropbox.com/s/44aou5gyi5l2w47/face.jpg?raw=1", alt="Subroto's Face")
					.about-desc
						h2 Subroto Biswas
						p Programmer / Designer / Thinker / Crazy

			section#projects
				.main-title
					h1 Projects
				#web-projects
					.inner
						.chrome-frame
							.relative-img
								img(src="//www.dropbox.com/s/cbdrmnecmep4rsm/chrome-frame.png?raw=1", alt="Google Chrome frame")
							.abs-img
								.project-images
									.img-wrapper.animate
										.project-img.active-project(data-count="1")
											img(src="//www.dropbox.com/s/n2qm4p23ll74k8q/pravah2015.jpg?raw=1", alt="Pravah 2015 Website Snapshot")
										.project-img(data-count="2")
											img(src="//www.dropbox.com/s/andm8tcf26ha03n/pravah2014.jpg?raw=1", alt="Pravah 2014 Website Snapshot")
								.uri-panel
									a.uri.active(href="http://www.rajatgoel.in/work/pravah2015/", target="_blank", data-count="1") 
										span.domain rajatgoel.in
										span.path /work/pravah2015
									a.uri(href="http://www.rajatgoel.in/work/pravah2014/", target="_blank", data-count="2") 
										span.domain rajatgoel.in
										span.path /work/pravah2014
								.project-title
									a.uri.active(href="", data-count="1") Pravah 2015
									a.uri(href="", data-count="2") Pravah 2014
								.btn.left-btn
									img(src="//www.dropbox.com/s/mzgqhppmk4bj6fk/left-arrow.png?raw=1", alt="Left Arrow")
								.btn.right-btn
									img(src="//www.dropbox.com/s/e9by4870opgtp78/right-arrow.png?raw=1", alt="Right Arrow")
						.project-details
							article.project.active(data-count="1")
								a.title(href="http://www.rajatgoel.in/work/pravah2015/", target="_blank")
									h4 PRAVAH 2015
								.details
									p.desc This event took place during my 3
										sup rd
										| &nbsp;year in College(Early 2015). The Website was developed
										| on a 
										em Rainmeter themes 
										|&nbsp;for Technical Fest
									p.skills 
										strong Skills gained:
										br
										span.skill-name HTML_5
										|, 
										span.skill-name CSS3_Transforms_and_ Keyframes
										|, 
										span.skill-name Snap.svg
										|, 
										span.skill-name Greensock_GSAP
										|, 
										span.skill-name Raphael.js
										|, 
										span.skill-name SVG
										|, 
										span.skill-name Inkscape
										|, 
										span.skill-name Illustrator
																

							article.project(data-count="2")
								a.title(href="http://www.rajatgoel.in/work/pravah2014/", target="_blank")
									h4 PRAVAH 2014
								.details
									p.desc This event took place during my 2
										sup nd
										| &nbsp;year in College(Early 2014). The Website was developed
										| on a 
										em Cultural theme
										|&nbsp;for Technical & Annual Fest 2014
									p.skills 
										strong Skills gained:
										br
										span.skill-name HTML_4&amp;5
										|, 
										span.skill-name CSS3
										|, 
										span.skill-name Jquery
										|, 
										span.skill-name Javascript
										|, 
										span.skill-name Photoshop

				#android-projects
					.inner
						.frame
							.relative-img
								img(src="//www.dropbox.com/s/j3iokjxwuxfa2lr/nexus-5.png?raw=1", alt="Nexus 5 frame")
							.abs-img
								.project-images
									img(src="//www.dropbox.com/s/mwocypwnrwg81xb/m-back.png?raw=1", alt="nexus background fill")
								.project-images
									.project-img.animate.active-project(data-count="1")
										img(src="//www.dropbox.com/s/u2menzvg822jt5a/heyzu.jpg?raw=1", alt="Heyzu App Snapshot")
									.project-img.animate(data-count="2")
										img(src="//www.dropbox.com/s/2947y7vdxyi45ki/apnatiffin.jpg?raw=1", alt="Apnatiffin App Snapshot")
									.project-img.animate(data-count="3")
										img(src="//www.dropbox.com/s/posh7ohmhkvfu1o/skitech.jpg?raw=1", alt="Skitech App Snapshot")
							.abs-btns
								.btn.left-btn
									img(src="//www.dropbox.com/s/88jw724wi1sqehp/m-l-arrow.png?raw=1", alt="Nexus 5 Left Screen Button")
								.btn.mid-btn
									img(src="//www.dropbox.com/s/n0bgfl69oqf2t5p/m-m-arrow.png?raw=1", alt="Nexus 5 Middle Screen Button")
								.btn.right-btn
									img(src="//www.dropbox.com/s/blp06qck9de9lee/m-r-arrow.png?raw=1", alt="Nexus 5 Right Screen Button")
						.project-details
							article.project.active(data-count="1")
								a.title(href="//play.google.com/store/apps/details?id=com.heyzu.heyzu", target="_blank")
									h4 Heyzu
								.details
									p.desc 
										|This was a 
										em Social App Development Project
										|&nbsp;(4-Months), which was based on Map based user Interactivity, where user can post their live feeds and read them. All these feeds were displayed on 
										em Google Maps
										|, and the Cluster of feeds were Handled efficiently
									p.skills 
										strong Skills gained:
										br
										span.skill-name Android_Java
										|, 
										span.skill-name XML
										|, 
										span.skill-name Google_APIs
										|, 
										span.skill-name 
											a(href="//github.com/googlemaps/android-maps-utils", target="_blank") Map_Utils_Library 
										|, 
										span.skill-name 
											a(href="//square.github.io/picasso/", target="_blank") Picasso 
										|, 
										span.skill-name
											a(href="//github.com/ozodrukh/CircularReveal", target="_blank") CircularReveal
										|, 
										span.skill-name 
											a(href="//github.com/rockerhieu/emojicon", target="_blank") Emojicon 
							article.project(data-count="2")
								a.title(href="//play.google.com/store/apps/details?id=in.apnatiffin.subroto", target="_blank")
									h4 Apna Tiffin
								.details
									p.desc 
										|This was an 
										em E-Commerce Project
										|&nbsp;(2-Months), which was developed on an idea to request for Tiffin services in the locality, where user could register for Tiffin service, to be provided immediately or after some interval
									p.skills 
										strong Skills gained:
										br
										span.skill-name Android_Java
										|, 
										span.skill-name XML
										|, 
										span.skill-name RecyclerView
										|, 
										span.skill-name Custom_Views	
										|, 
										span.skill-name JSON 
										|, 
										span.skill-name Javascript_Interfaces
							article.project(data-count="3")
								a.title(href="//play.google.com/store/apps/details?id=in.ac.skit.skitech", target="_blank")
									h4 SkiTech
								.details
									p.desc 
										|This was a 
										em Very Basic App
										|&nbsp;(2-Months), which was developed only for Notification purposes. The App was developed for showcasing 
										em College Notices Online 
										|, where user would get a Notification for each new Notice(uploaded on the Server).
									p.skills 
										strong Skills gained:
										br
										span.skill-name Android_Java
										|, 
										span.skill-name XML
										|, 
										span.skill-name 
											a(href="//jsoup.org/", target="_blank") JSoup
										|, 
										span.skill-name Custom_Views	
										|, 
										span.skill-name Android_Fundamentals	

			section#about
				.main-title
					h1 About Me
				.about-me
					.joker-box
						.sides
							figure#front 
								h1.title About Me
								p I am a Graduate, completed my college on May 2016. I have developed 2 College websites and 3 Android Apps, with many other small projects. Presently I am looking for a Job in Bangalore, Karnataka.
							figure#top 
								//- div#lid, Lid inside a figure with preserve-3d does not work on most Android default Web browsers. Therefore, it's better to put this lid as a sibling with other figures.
							figure#back 
							figure#bottom 
							figure#left 
							figure#right 
							figure#lid
					.quotes 
						p.quote
							i.fa.fa-quote-left(aria-hidden="true") 
							|&nbsp;If you can't explain it 
							strong simply
							|, you don't understand it well enough 
							i.fa.fa-quote-right(aria-hidden="true")
						p.author
							|Albert Einstein
				.social-links
					span.fa-stack.fa-lg
						a.fa.fa-facebook.fa-stack-1x(href="//www.facebook.com/subroto.biswas1427", title="Facebook Link", target="_blank")
					span.fa-stack.fa-lg
						a.fa.fa-twitter.fa-stack-1x(href="//twitter.com/Shub7241", title="Twitter Link", target="_blank")
					span.fa-stack.fa-lg
						a.fa.fa-linkedin.fa-stack-1x(href="//in.linkedin.com/in/shub1427", title="LinkedIn Link", target="_blank")
					span.fa-stack.fa-lg
						a.fa.fa-codepen.fa-stack-1x(href="//codepen.io/shub1427/", title="Codepen Link", target="_blank")
					span.fa-stack.fa-lg
						a.fa.fa-github.fa-stack-1x(href="//github.com/Shub1427/", title="Github Link", target="_blank")
					span.fa-stack.fa-lg
						a.fa.fa-fire.fa-stack-1x(href="//www.freecodecamp.com/shub1427", title="FreeCodeCamp Link", target="_blank")

			footer
				.nav-links
					for item, i in ["home", "projects", "about"]
						a(href="#"+item, title=item)=item
						if i!=2
							span |
				.copyright
					i.fa.fa-copyright
					|&nbsp;Subroto 2016


		script(src='//www.dropbox.com/s/rfnqzpp4awy4mx8/classie.js?raw=1')
		script(src="js/index.js")