@import "imports";

body {
	font-family: 'Lato', sans-serif;
}

#main {
	height: 100%;
	animation: back_color 30s infinite;
}

@keyframes back_color {
	0%{
		background-color:  color($red, 800);
	}

	25%{
		background-color: color($indigo, 800);
	}

	50% {
		background-color: color($teal, 800);
	}

	75%{
		background-color: color($amber, 800);
	}

	100% {
		background-color: color($red, 800);
	}
}


#main-app {
	position: relative;
	width: 400px;
	height: 225px;
	top: 50%;
	margin: 0 auto;
	border-radius: 3px;
	@include shadow-z-4();
	background-color: color($grey, 50);
	transform: translate3d(0, -50%, 0);

	font-size: 2em;
	color: color($grey, 800);

	text-align: center;

	> * {
		position: relative;
		top: 50%;
		transform: translate3d(0, -50%, 0);
	}
}